* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: white;
}

.leaflet-control-attribution {
  font-size: 1.5em;
}